# Stupid macOs stuff
.DS_Store

# Ignore singularity images to avoid taking up to much space
*.sif

# Ignore log files
*.log

# Ignore PBS script used to activate singularity and open a connection with RStudio server
./RStudio/Script_for_pbs.md
